
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}
header{
    background-color: #000000;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}

.navbar li {
    margin: 10px 15px;
}



/* Starea de bază a linkului */
.navbar a {
    position: relative;
    text-decoration: none;
    overflow: hidden;
    transition: color .6s ease;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9rem;
}

/* Animație pentru hover */
.navbar a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ff0000; /* Culoarea finală pe hover */
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: bottom top;
}

/* Efectul de hover */
.navbar a:hover {
    color: #ff0000; /* Schimbă culoarea textului la hover */
}

.navbar a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom top;
}

.navbar-logo{
    display: flex;
    text-align: center;
}
.navbar-logo a {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    z-index: 10000;
}
.navbar-logo img {
    width: 80px; 
}
.navbar-logo h1{
    margin:0 1px;
}
.hero {
    position: relative;
    width: 100%;
    height: 80vh; /* Ocupă 80% din înălțimea viewport-ului */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-weight: 700;
}


.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Fundal semi-transparent pentru lizibilitate */
    border-radius: 10px;
}
.hero-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
  }
  
  .hero-image.active {
    opacity: 1;
    z-index: 1;
  }
.hero h1 {
    font-size: 2.5rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 10px;
    font-family: 'Satisfy', cursive;
    color:rgb(255, 255, 255);
    text-shadow: 0px -1px  rgb(255, 0, 0);
}

.buttons-container {
    position: absolute;
    width: 90%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 100;
    transition: all 0.3s ease-in-out; /* Tranziție pentru o trecere mai fluidă */
  }
  
  .buttons-container.fixed {
    position: fixed;
    top: 10px;
  }
  
  .button {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: #b30000;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 24px;
    font-size: 1rem;
    transition: background-color 0.3s;
    font-weight: bold;
  }
  
  .button i {
    margin-right: 10px; /* Distanță între iconiță și text */
  }
  
  .button:hover {
    background-color: #000000;
    color: #f4e3d7;
  }

  .fas{
    width: fit-content;
    height: fit-content;
  }
  .button:hover {
  .fas{
    color: #b30000;
  }
}

.cta-menu {
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    text-align: center;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 100;
  }
  #toggle-menu {
    padding: 10px 20px;
    background-color: #b30000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    z-index: 100;
    text-transform: uppercase;
    margin-top: 50px;
  }
  #toggle-menu:hover {
    background-color: #000000;
  }
  
  
  





.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    font-size: 0.9em;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    flex: 1 1 300px;
    text-align: center;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 100px;
    margin-bottom: 10px;
}

.footer-links {
    flex: 2 1 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1 1 300px;
    margin-bottom: 20px;
}

.footer-section h4 {
    font-size: 1.1em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #f4e3d7;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #d8bba4;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 10px;
    font-size: 0.8em;
}





@media (max-width: 767px) {
    /* Stiluri pentru telefoane */
    header{
    margin: 0;
    padding: 0;
        
    }
    .navbar{
        margin: 0;
        padding: 0;
    }
    .navbar ul {
        flex: 1;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .navbar li {
        margin: auto 2px;
    }
    .navbar a {
        font-size: .7rem;
    }
    .navbar-logo{
        flex: 0.6;
    }
    .hero h1 {
        font-size: 1.5rem;
    }
    .hero p {
        font-size: .9rem;
        margin-top: 10px;
        font-family: 'Satisfy', cursive;
        color:rgb(255, 255, 255);
        text-shadow: none;
    }
    .button {
        padding: 6px 6px;
        font-size: .8rem;

      }
  }
  

@media (min-width: 768px) and (max-width: 1024px) {
  /* Stiluri pentru tablete și laptopuri mici */

  
}












